.chats-sth__time {
  color: gray;
}
.chats-sth {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
  position: relative;
}
.chats-sth__new {
  position: absolute;
  padding: 5px 8px;
  background-color: green;
  border-radius: 50%;
  left: 40px;
  top: 25px;
  color: white;
}
.chats-member-num {
  color: gray;
  margin-left: 8px;
}
.fa-user-circle {
  margin-right: 8px;
}
.fa-thumbtack {
  margin-left: 8px;
}
