.color-blue {
  background-color: rgb(212, 221, 255);
}
.chats-sth__time {
  color: gray;
}
.chats-sth {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}
.chats-sth__new {
  padding: 5px 8px;
  background-color: rgb(106, 127, 207);
  border-radius: 50%;
  left: 40px;
  top: 25px;
  color: white;
  font-weight: 500;
  animation: vibrate 0.3s linear infinite both;
}
.chats-member-num {
  color: gray;
  margin-left: 8px;
}
.fa-user-circle {
  margin-right: 8px;
}
.fa-thumbtack {
  margin-left: 8px;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}
.chats-screen {
  padding-bottom: var(--padding-bottom);
}
