.color-green {
  background-color: rgb(217, 255, 223);
}
.find-screen {
  margin: var(--margin-top) 0 80px 0;
}
.recommended,
.open-chat {
  border-top: var(--main-border-top);
  margin-left: var(--margin-horizon);
  margin-right: var(--margin-horizon);
}
.recommended__header,
.open-chat__header {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: gray;
  align-items: center;
  cursor: default;
}
.open-chat__header-goto:hover,
.recommended__header-goto:hover {
  cursor: pointer;
}
.recommended-icon {
  padding: 6px 9px;
  background-color: rgba(207, 207, 207, 0.438);
  border-radius: 3px;
}
.recommended-icon:active {
  color: whitesmoke;
  background-color: rgba(116, 116, 116, 0.486);
}
.recommended-icon:hover {
  cursor: pointer;
}
.open-chat__main {
  padding: 10px 6px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.493);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.open-chat__main:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.open-chat__main-column img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-chat__main-author > img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-chat__main-author {
  display: flex;
  align-items: center;
}
.open-chat__main div:first-child {
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.divider-vert {
  width: 2px;
  height: 15px;
  background-color: black;
  margin: 0px 5px;
}

.open-chat__main-column h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}
.open-chat__main-column h6 {
  color: var(--gray);
}
.open-chat__main-author :last-child {
  color: rgb(236, 44, 204);
}
.open-chat__main-column {
  position: relative;
}
.open-chat__main-heart {
  position: absolute;
  background-color: rgba(71, 71, 71, 0.699);
  padding: 6px 8px;
  border-radius: 20px;
  bottom: 10px;
  right: 8px;
  color: whitesmoke;
  font-size: 13px;
}
.open-chat__main-heart i {
  margin-right: 4px;
}
