.color-yellow {
  background-color: rgb(255, 252, 223);
}
.more-screen {
  padding-bottom: var(--padding-bottom);
}
.user-index-mybtn {
  padding: 10px 20px;
  background-color: rgb(250, 238, 152);
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.user-index-mybtn:active {
  background-color: rgb(251, 228, 255);
}
.advertise {
  margin: 10px var(--margin-horizon);
  display: flex;
  justify-content: center;
}
.advertise img {
  width: 400px;
  height: 230px;
  border-radius: 8px;
}

.weather {
  margin: 25px var(--margin-horizon);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7px 10px;
  color: var(--gray);
}
.weather__condition {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.weather > span {
  font-size: 18px;
}
.weather__condition-now {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: 10px;
}
.weather__condition-now span {
  color: rgb(59, 59, 59);
}
.weather__condition-now i {
  margin-right: 10px;
}
.weather__condition-time {
  margin-right: 10px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
.weather__condition-time i {
  margin-right: 5px;
}
.weather__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather__pick {
  padding: 10px 8px 8px 8px;
  background-color: rgba(245, 245, 245, 0.747);
  border-radius: 50%;
  cursor: pointer;
}
.weather__pick:active {
  background-color: whitesmoke;
  color: rgb(46, 46, 46);
}
.weather__condition-time-i span {
  color: rgb(59, 59, 59);
}
