.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 90px;
  margin: 10px 8px;
  padding-top: 10px;

  border-radius: 10px;
}
.icon-row__icon:hover {
  background-color: var(--main-hover-color);
}
.icon-row__icon:active {
  background-color: rgba(255, 255, 255, 0.822);
  color: rgb(46, 46, 46);
}
.icon-row__icon-name {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-row__icon-name span {
  text-align: center;
}
.icon-row i {
  font-size: 40px;
}
