.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: teal;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 18px;
}
.nav-bar__btn i {
  color: white;
}
