.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  width: 100vw;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--gray);
  z-index: 2;
}

.screen-header-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  width: 100vw;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--gray);
  z-index: 2;
}
.screen-header-sm__column {
  width: 33vw;
}
.screen-header-sm__column span {
  text-align: center;
}
.screen-header h1 {
  font-size: 35px;
  font-family: "Texturina", serif;
  font-weight: 500;
  cursor: default;
}
.screen-header__icons i {
  margin-left: 20px;
  font-size: 23px;
  cursor: pointer;
}

.screen-header__title-sm {
  font-size: 25px;
  font-family: "Texturina", serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: default;
}
.screen-header__column {
  width: 33%;
}
.screen-header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@keyframes icon-spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.screen-header__icons i:hover,
.screen-header-sm i:hover {
  animation: icon-spin 1s ease-in-out infinite;
}
.screen-header__icons-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  right: -3px;
  top: -9px;
}
.screen-header__icons-setting {
  position: relative;
}
