.user-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px var(--margin-horizon) 20px var(--margin-horizon);
  padding: 5px;
  border-radius: 15px;
}

.user-index:hover {
  background-color: var(--main-hover-color);
}
.user-index-first {
  margin-top: var(--margin-top);
}
.user-index__photo {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-index__music {
  display: flex;
  justify-content: flex-end;
  color: rgb(235, 160, 160);
  height: 35px;
  border-radius: 20px;
  border: 1.5px solid rgb(235, 160, 160);
  padding: 5px 10px;
  align-items: center;
}
.user-index__column {
  display: flex;
  align-items: center;
}
.user-index__photo--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 20px;
}
.user-index__photo--lg {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-index__name {
  font-size: 25px;
  font-weight: 500;
  color: var(--gray);
}
.user-index__name--sm {
  font-size: 20px;
  color: var(--gray);
}
.user-index__texts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
}
.user-index__text {
  color: var(--gray);
}

.user-index__texts-name {
  display: flex;
  align-items: center;
}
.user-index__texts-name i {
  margin-top: 5px;
  color: rgb(106, 127, 207);
}
.user-index__photo--xs {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
