@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@100;200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Styles */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/screen-header.css";
@import "components/status-bar.css";
@import "components/user-index.css";
@import "components/nav-bar.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.background {
  display: flex;
  justify-content: center;
  background-color: rgb(204, 169, 224);
}
.background__photo {
  position: fixed;
  z-index: -1;
  height: 100vh;
  top: 0;
}
a {
  text-decoration: none;
  color: var(--gray);
}
::-webkit-scrollbar {
  display: none;
}
